/*----------------------GENERAL---------------------*/

* {
    box-sizing: border-box;
}

html,
body {
    background-color: #303952;
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    display: flex;
    width: 100%;
    font: 300 1em 'Fira Sans', sans-serif;
}

/*----------------------TERMINAL---------------------*/

.board_area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 9vh;
    width: 100%;
    margin-left: 5%;
    height: 80vh;
}

.code-editor {
    width: 45%;
    min-width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*----- Boton Submit --------*/

input {
    background: none;
    padding: 10px 30px;
    transition: background 0.3s, color 0.3s;
    border: 1px solid #BBB;
}

.code-editor input{
    margin-top: 0.9em;
}

#submit {
    color: #ffdd59;
}

#submit:hover {
    border: 1px solid #BBB;
    background: #ffdd59;
    padding: 10px 30px;
    color: #1e272e;
}

#siguiente {
    background-color: #ffdd59;
}

#siguiente:hover {
    background: #303952;
    color: #ffdd59;
}

.code-editor form{
    height: 100%;
}

/*----------------------ENUNCIADO---------------------*/

.enunciados {
    border: 1px solid #fbc531;
    width: 45%;
    min-width: 600px;
    height: 100%;
    background-color: #f7f1e3;
    display: flex;
    flex-direction: column;
}

.enunciado, .test-result {
    overflow-y: scroll;
    background: grey;
    font-weight: 400;
    flex: 1;
}

.enunciado .content {
    padding: 20px;
}

.enunciado{
    background: #dcdde1;
}

.enunciado .content h2{
    color: #2c3e50;
    font-size: 22px;
    margin-bottom: -12px;
}

.enunciado .content h3{
    color: #7f8c8d;
}

.test-result{
    background: #1e272e;
    color: white;
    padding: 15px;
}

/* ---- etiquetas ---- */

#rojo {
    color: red;
}

#verde {
    color: greenyellow;
}

#funcion {
    color: orange;
}

#error {
    background: #40739e;
}


/* ---- \etiquetas ---- */

.enunciado h2 {
    font-size: 30px;
    color: #1e272e;
    margin-top: 5px;
}

.enunciado h3 {
    font-size: 20px;
    color: #485460;
}

.enunciado p {
    font-weight: 500;

}

.bar_enun_code {
    background: #353b48;
    width: 100%;
    display:flex;
    justify-content: center;
}

.bar_enun_code button{
    border-top: 3px solid #fbc531;
    border-bottom: none;
    width: 50%;
    padding: 7px 3px;
    background: inherit;
}

#bt-enunciado {
    color: black;
    background: #dcdde1;
}

#bt-consola {
    color: #dcdde1;
    background: #1e272e;
}

/*----------------------INDEX---------------------*/

.index {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.buttons-index {
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    min-height: 10vh;
    display: flex;
    flex-wrap: wrap;
}

.buttons-index button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #ff7f82;
    transition: 0.45s;
}


.buttons-index button:hover, .buttons-index button:focus {
    box-shadow: inset -8em 0 0 0 #ffdc7f, inset 8em 0 0 0 #ffdc7f;
    border-color: #ffdc7f;
    color: #fff;
}

.index h1 {
    font-weight: 400;
    text-align: center;
    margin-top: 40vh;
    color: #fff;
}

/*----------------------404---------------------*/

.not-found {
    color: #fff;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    padding: 5em;
}

.not-found h2{
    font-size: 5vh;
}

span.zen , .not-found a{ 
    color: #e4cb58;
    font: inherit;
}

.not-found a{
    text-decoration: none;
}

/*----------------------ABOUT---------------------*/

.about {
    color: #fff;
    align-content: center;
    justify-content: center;
    text-align: center;
    min-height: 10vh;
    display: flex;
    flex-wrap: wrap;
}

.about h1{
    font-size: 6vh;
    color: #ff7f82;
}

.about p{
    line-height: 4vh;
    text-align: center;
    padding: 0em 6em 4em 7em;
}

.about a{
    color: #f1c40f;
    text-decoration: none;
}

/*----------------------LISTADO---------------------*/

.listado {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.listado ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 60%; 
    padding-bottom: 30px;
}

.listado ul li{
    background: #ff7f82;
    margin-top: 15px;
    margin-bottom: .125em;
    list-style: none;
    text-transform: uppercase;
}

.listado ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 15px 0px 15px 15px;
    width: 100%;
}

.listado h2 {
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-size: 2em;
    margin-top: 3em;
}

/*----------------------SUBIR---------------------*/

.submitEj {
    width: 100%;
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

.submitEj textarea{
    resize: none;
}

.submitEj form input{
    margin-top: 15px;
}

#submit_ej {
    background: #ff7f82;
    color: black;
}

.agregarEj {
    display: flex;
}

.agregarEj form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 15px;
}

.visualizar{
    background: #f7f1e3;
    width: 50%;
    margin-left: 15px;
}

.encabezado, .agregarEj form {
     color: white;
}