/*----------------------GENERAL---------------------*/

* {
    box-sizing: border-box;
}

html,
body {
    background-color: #303952;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    width: 100%;
    font: 300 1em 'Fira Sans', sans-serif;
}


/*----------------------HEADER---------------------*/

header {
    background: #f7d794;
    min-width: 60px;
}

.side_navbar {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
}

.side_navbar img {
    margin-top: 15px;
}

/*----------------------TERMINAL---------------------*/

.board_area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 9vh;
    width: 100%;
}

.code-editor {
    width: 45%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

/*----- Boton Submit --------*/

input {
    background: none;
    padding: 10px 30px;
    transition: background 0.3s, color 0.3s;
    border: 1px solid #BBB;
}

#submit {
    color: #ffdd59;
}

#submit:hover {
    border: 1px solid #BBB;
    background: #ffdd59;
    padding: 10px 30px;
    color: #1e272e;
}

#siguiente {
    background-color: #ffdd59;
}

#siguiente:hover {
    background: #303952;
    color: #ffdd59;
}

/*----------*/

.terminal textarea {
    border: 1px solid #BBB;
    width: 100%;
    resize: none;
}

form {
    height: 100%;
}

#editor {
    height: 80vh;
}

#result {
    color: white;
    background-color: #1e272e;
    font-weight: 550;
}

.enunciados {
    border: 1px solid #BBB;
    width: 45%;
    height: 80vh;
    background-color: #d1d8e0;
}

.enunciado {
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 400;
}

.enunciado h2 {
    font-size: 30px;
    color: #1e272e;
    margin-top: 40px;
}

.enunciado h3 {
    font-size: 20px;
    color: #485460;
}

.enunciado p {
    font-weight: 500;

}

/*----------------------INDEX---------------------*/

.index {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.buttons-index {
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    min-height: 10vh;
    display: flex;
    flex-wrap: wrap;
}

.buttons-index button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #ff7f82;
    transition: 0.45s;
}


.buttons-index button:hover, .buttons-index button:focus {
    box-shadow: inset -8em 0 0 0 #ffdc7f, inset 8em 0 0 0 #ffdc7f;
    border-color: #ffdc7f;
    color: #fff;
}

.index h1 {
    font-weight: 400;
    text-align: center;
    margin-top: 40vh;
    color: #fff;
}

/*----------------------404---------------------*/

.not-found {
    color: #fff;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    margin: 5% 5% auto 5%;
}


.not-found h2{
    font-size: 5vh;
}

span.zen { 
    color: #e4cb58;
    font: inherit;
  }