<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Flask app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='codemirror/lib/codemirror.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/lib/codemirror.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='codemirror/mode/python/python.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/theme/dracula.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='prism/prism.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='prism/prism.js') }}"></script>
</head>

<body>
    <div class="not-found">
        <h2>404</h2>
        <p>Pareces perdido, tal vez el <span class="zen">zen de python</span> te ayude a encontrar tu camino</p>
        <pre><code class="language-python">
        "Bello es mejor que feo.
        Explícito es mejor que implícito.
        Simple es mejor que complejo.
        Complejo es mejor que complicado.
        Plano es mejor que anidado.
        Espaciado es mejor que denso.
        La legibilidad es importante.
        Los casos especiales no son lo suficientemente especiales como para romper las reglas.
        Sin embargo la practicidad le gana a la pureza.
        Los errores nunca deberían pasar silenciosamente.
        A menos que se silencien explícitamente.
        Frente a la ambigüedad, evitar la tentación de adivinar.
        Debería haber una, y preferiblemente solo una, manera obvia de hacerlo.
        A pesar de que esa manera no sea obvia a menos que seas Holandés.
        Ahora es mejor que nunca.
        A pesar de que nunca es muchas veces mejor que *ahora* mismo.
        Si la implementación es difícil de explicar, es una mala idea.
        Si la implementación es fácil de explicar, puede que sea una buena idea.
        Los espacios de nombres son una gran idea, ¡tengamos más de esos!"
        </code></pre>
        <p>Claro que siempre puedes también probar volver al <a href="/">Inicio</a></p>
    </div>
</body>

</html>