{% extends 'layout.html' %}

{% block body %}
<div class="about">
    <h1>Algoritmos y Programación I</h1>

    <p>
        Esta página fue creada para que los alumnos de Algoritmos y Programación I del curso Essaya,
        y toda otra persona que desee, puedan prácticar ejercicios de programación básicos en Python.

        Ante cualquier problema con el sitio, pueden mandar un mail ... indicando el error. 
        También crear un issue en nuestro repo de GitHub, o un pull request con el fix si lo desean!

    </p>
    <a href="https://github.com/Florencia-97/Ejs-online">Link al repo de GitHub</a>
</div>

{% endblock %}