{% extends 'layout.html' %}

{% block body %}

<div class="tags">
    <a href="/form/listas/1" ><div class="eleccion">Listas</div></a>
    <a href="/form/colas/1" ><div class="eleccion">Colas</div></a>
    <a href="/form/pilas/1" ><div class="eleccion">Pilas</div></a>
    <a href="/form/recursion/1" ><div class="eleccion">Recursion</div></a>
    <a href="/form/diccionarios/1" ><div class="eleccion">Diccionarios</div></a>
    <a href="/form/listas_enlazadas/1" ><div class="eleccion">Listas Enlazadas</div></a>
</div>

{% endblock %}