{% extends 'layout.html' %}

{% block body %}
<div class="index">
    <h1 class="index">Ejercicios.</h1>

    <div class="buttons-index">
        <button onclick="window.location.href='form/listas/1'">Listas</button>
        <button onclick="window.location.href='form/listas/1'">Tuplas</button>
        <button onclick="window.location.href='form/colas/1'">Colas</button>
        <button onclick="window.location.href='form/pilas/1'">Pilas</button>
        <button onclick="window.location.href='form/recusion/1'">Recursion</button>
        <button onclick="window.location.href='form/diccionarios/1'">Diccionarios</button>
        <button onclick="window.location.href='form/listas_enlazadas/1'">Listas Enlazadas</button>
    </div>
</div>

{% endblock %}