<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Flask app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='codemirror/lib/codemirror.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/lib/codemirror.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='codemirror/mode/python/python.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/theme/dracula.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='prism/prism.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='prism/prism.js') }}"></script>
</head>
<body>
    {% include 'includes/_navbar.html' %}
    {% block body %}{% endblock %}
</body>
</html>