{% extends 'layout.html' %}

{% block body %}

<div class="listado">
    <h2>{{tema}}</h2>
    <ul>
        {% if ejercicios %}
            {% for ejercicio in ejercicios %}
                <li><a href="/form/{{tema}}/{{ejercicio}}">{{ ejercicio | replace("_", " ")}}</a></li>
            {% endfor %}
        {% else %}
            {% for seccion in secciones %}
                <li><a href="/listado/{{tema}}/{{seccion}}">{{ seccion | replace("_", " ")}}</a></li>
            {% endfor %}
        {% endif %}
    </ul>
</div>

{% endblock %}